beautifulsoup4==4.10.0
gensim==4.2.0
google-api-core==2.8.2
google-api-python-client==2.51.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.2
huggingface-hub==0.7.0 
jsonschema==4.4.0
jupyter==1.0.0
matplotlib 
more-itertools==8.13.0
nltk 
numexpr 
numpy 
opencv-contrib-python==4.5.5.64
opencv-python-headless==4.5.5.64
packaging 
pandas 
pickleshare==0.7.5
regex 
requests 
scikit-image==0.19.2
scikit-learn 
scipy 
seaborn==0.11.2
smart-open==5.2.1
soupsieve==2.3.1
spacy==3.3.1
spacy-legacy==3.0.9
spacy-loggers==1.0.2
tokenizers==0.12.1
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
transformers==4.19.4
googletrans==4.0.0-rc1
